<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Wyświetl wszystkich użytkowników</title>


</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container-fluid body-content"><br/>
<table style="width: auto" class="table-bordered">
    <tr class="headermessage" style="font-weight:bold">

        <td>Nazwa użytkownika:</td>

        <td>Prywatna wiadomość:</td>
        <td sec:authorize="hasAuthority('ROLE_ADMIN')">Zablokuj\Odblokuj użytkownika:</td>
    </tr>
    <tr th:each="user : ${allusers}" class="inner">

        <td>
            <a th:href="@{'/user/user_profile/'+${user.user_name}}" th:text="${user.user_name}"/>
        </td>

        <td>
            <form th:action="@{/private_messages/send/}" method="get">
                <input type="hidden" th:name="user" th:value="${user.user_name}"/>
                <div> <button type="submit" class="btn btn-seeprivate">Wyślij wiadomość</button></div>
            </form>
        </td>
        <div sec:authorize="hasAuthority('ROLE_ADMIN')" th:if="${user.user_status} eq '1'">
            <form action="/user/admin/disable" method="POST">
                <td>
                    <input type="hidden" th:name="user_name" th:value="${user.user_name}"/>
                    <center>
                        <button type="submit" class="btn btn-dangerr">Zablokuj użytkownika</button>
                    </center>
                </td>
            </form>
        </div>
        <div sec:authorize="hasAuthority('ROLE_ADMIN')" th:if="${user.user_status} eq '0'">
            <form action="/user/admin/enable" method="POST">
                <td>
                    <input type="hidden" th:name="user_name" th:value="${user.user_name}"/>
                    <center>
                        <button type="submit" class="btn btn-success">Odblokuj użytkownika</button>
                    </center>
                </td>
            </form>
        </div>
    </tr>
</table>
</div>
</body>
</html>